/* General styling rules */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Rules for styling the container */
.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Rules for styling the heading */
.heading {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Rules for styling paragraphs */
p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Rules for styling links */
.highlight {
  color: #ff8b19;
  font-weight: bold;
}

/* Rules for styling the datetime value */
.datetime-value {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffa64e;
}

/* Rules for styling the datetime container */
.datetime-container {
  margin: 20px;
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
