/* Rules for styling the container */
.container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fcd6ad;
}

/* Rules for styling the heading */
.heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Rules for styling paragraphs */
p {
  line-height: 1.5;
  margin-bottom: 10px;
}

/* Rules for styling links */
.highlight {
  color: #ff8b19;
  font-weight: bold;
}

/* Rules for styling for datetime page */
.datetime-container {
  border-radius: 10px;
  padding: 20px;
  background-color: #fcd6ad;
}

.datetime-heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.datetime-text {
  font-size: 18px;
  color: #333;
}

.datetime-value {
  font-size: 18px;
  font-weight: bold;
  color: #ff8b19;
}
