/* General styling rules */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Rules for styling general containers */
.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Rules for styling general headings */
.heading {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

/* Rules for styling general paragraphs */
p {
  margin: 0;
  line-height: 1.6;
}

/* Rules for styling general links */
.highlight {
  color: #ff8b19;
  font-weight: bold;
  margin: 8px 0;
}

/* Rules for styling input fields */
.input-field {
  gap: 8px;
  width: 60%;
  margin: 8px;
  padding: 6px;
  display: flex;
}

/* Rules for styling general buttons */
.button {
  margin: 5px;
  padding: 10px 40px;
  background-color: #ffa64e;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #333;
}

/* Rules for styling datetime value */
.datetime-value {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: #ffa64e;
}

/* Rules for styling datetime container */
.datetime-container {
  margin: 18px;
  padding: 18px;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Rules for styling embedded graphic */
.graphic {
  height: auto;
  float: right;
  max-width: 10%;
}

/* Rules for styling greeting title */
.greeting-title {
  font-size: 20px;
  color: #ff8b19;
}

/* Rules for styling greeting text */
.greeting-text {
  font-size: 16px;
  color: #333;
}

/* Rules for styling navigation bar */
.navbar {
  background-color: #333;
  overflow: hidden;
}

/* Rules for styling navigation links */
.nav-link {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

/* Rules for styling links on hover */
.nav-link:hover {
  background-color: #555;
}

/* Rules to ensure navigation bar spans full width */
.navbar::after {
  content: "";
  display: table;
  clear: both;
}
