/* Style sheet for containers */

/* Rules for styling general containers */
.container {
  width: 95%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  flex-grow: 1;
}

/* Rules for styling datetime container */
.datetime-container {
  margin: 18px;
  padding: 18px;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Rules for styling quote container */
.quote-container {
  margin: 18px;
  padding: 18px;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Rules for styling timezone container */
.timezone-container {
  margin: 18px;
  padding: 18px;
  border-radius: 5px;
  border: 1px solid #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timezone-select {
  margin: 10px 0;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #333;
  font-size: 16px;
}

.timezone-text {
  font-size: 18px;
  margin-top: 10px;
}

.timezone-value {
  font-size: 20px;
  font-weight: bold;
  color: #ffa64e;
  text-align: center;
}
