/* General style sheet */

/* Rules for styling general layout */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Rules for styling general links */
.highlight {
  color: #ff8b19;
  font-weight: bold;
  margin: 8px 0;
}

/* Rules for styling input fields */
.input-field {
  gap: 8px;
  width: 60%;
  margin: 8px;
  padding: 6px;
  display: flex;
}

/* Rules for styling embedded images */
.image {
  height: auto;
  float: right;
  max-width: 10%;
}

/* Rules for styling replica visualisations */
.package-image {
  width: 50px;
  height: 50px;
  margin: 15px 15px 15px 0;
  display: inline-block;
}

/* Rules for styling footer section */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
}
